<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage - Subtitle Search Engine</title>
</head>
<body>
    <h1>SubTitle Search Engine</h1>
    <hr>
    <nav>
        <h1>Home Page</h1>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'upload_video' %}">Upload Video</a></li>
            <li><a href="{% url 'list_videos' %}">Available Videos</a></li>
        </ul>
    </nav>
</body>
</html>